


{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
  <section class="box">
    <h1 class="heading">Register</h1>
    <form method="post">
        {% csrf_token %}
        
        {% if user_form.errors %}
            <div class="alert alert-danger">
                {% for field in user_form %}
                    {% if field.errors %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        {{ user_form.as_p }}
        
        {% if profile_form.errors %}
            <div class="alert alert-danger">
                {% for field in profile_form %}
                    {% if field.errors %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        {{ profile_form.as_p }}
      
        <button type="submit" class="btnn">Register</button>
    </form>
  </section>
{% endblock %}

